@media (max-width:1200px) {
    .menu li{
        margin-left:30px ;
    }
    .message {
        margin-left: 150px;
        margin-top: 40px;
    }

    .right-side{
        margin-left: 100px;
    }

    .right-side .contact {
        margin-right: 80px;
    }
}


@media (max-width:1020px){
    nav{
        display: none;
    }

    .left-side .bottomenu{
        display: none;
    }

    .cards{
        display: block;
        justify-content: center;
    }
    .card{
        margin-bottom: 54px;
        display: block;
        margin-left: 33%;
    }
    .left-arrow{
        display: none;
    }
    .right-arrow{
        display: none;
    }

    .right-side .help{
        margin-right: 110px;
    }    
      
    .message{
       margin-left:100px;  
    }
}

@media (max-width:768px) {
    .logoa{
        margin-top: 20px;
    }

    .burger{
        display:block;
        margin-left: 50%;
        margin-top: 60px;
    }
    .burger i{
        font-size: 30px;
        color: #000;
    }
    .right-side .help{
        margin-right: 80px;
      }

    .message{
        display: none;
       margin-left:-180px;  
    }

}

@media (max-width:432px) {
    .logo{
        width: 150px;
    }
    .logoa{
        margin-top: 20px;
    }
    .burger{
        margin-left: 200px;
        margin-top: 60px;
    }
    .card{
        margin-bottom: 54px;
        display: block;
        margin-left: 13%;
        width: 280px;
    }

    .message{
        display: none;
    }
    .input2{
        display: none;
    }
    .message button{
        display: none;
    }
    .right-side1{
        display: none;
    }
}

@media (max-width:370px) {
    .burger{
        margin-left: 70px;
    }
    .card{
        margin-left: 15%;
        width: 180px;
    }
}
