@media (max-width:1200px) {
    .menu li{
        margin-left:20px ;
    }
    .message {
        margin-left: 150px;
        margin-top: 40px;
    }

    .right-side{
        margin-left: 100px;
    }

    .right-side .contact {
        margin-right: 80px;
    }
}


@media (max-width:1024px){
    nav{
        display: none;
    }

    .left-side .bottomenu{
        display: none;
    }

    .cards{
        display: block;
        justify-content: center;
    }
    .left-arrow{
        display: none;
    }
    .right-arrow{
        display: none;
    }
}