@media (max-width:1200px) {
    .menu li{
        margin-left:20px ;
    }
    .message {
        margin-left: 150px;
        margin-top: 40px;
    }

    .right-side{
        margin-left: 100px;
    }
}


@media (max-width:1024px){
    nav{
        display: none;
    }

    .left-side .bottomenu{
        display: none;
    }
}