@media (max-width:1200px) {
    .menu li{
        margin-left:20px ;
    }
    .message {
        margin-left: 150px;
        margin-top: 40px;
    }

    .right-side{
        margin-left: 100px;
    }

    .right-side .contact {
        margin-right: 80px;
    }
}


@media (max-width:1020px){
    nav{
        display: none;
    }
    .burger{
        display:block;
        margin-left: 70%;
        margin-top: 60px;
    }

    .burger i{
        font-size: 30px;
        color: #000;
    }

    .left-side .bottomenu{
        display: none;
    }
    

    .howmuch{
        height: 50px;
        padding-left: 0%;
      }

    .right-side .help{
        margin-right: 110px;
    }    
      
    .message{
    margin-left:100px;  
    }
}

@media (max-width:768px) {
    .logoa{
        margin-top: 20px;
    }

    .burger{
        display:block;
        margin-left: 50%;
        margin-top: 60px;
    }
    .burger i{
        font-size: 30px;
        color: #000;
    }
    .left-side .bottom{
        margin-top: 220px;
    }
    .right-side .help{
        margin-right: 80px;
      }

    .right-side{
        margin-left: -235px;
        margin-top: 130px;
    }

    .right-side p{
        font-size: 16px;
    }
    .right-side a{
        font-size: 14px;
    }
    .right-side i{
        font-size: 16px;
    }
    .message{
        display: none;
       margin-left:-180px;  
    }

    .cards1{
        display: block;
    }

    .cards2{
        display: none;
    }

    .cards3{
        display: none;
    }

    .card{
        margin-bottom: 54px;
        width: 50%;
        margin-left: 29%;
    }

    .howmuch{
        height: 50px;
        padding-left: 1%;
        padding-bottom: 17%;
      }

}

@media (max-width:411px) {
    .logo{
        width: 150px;
    }
    .logoa{
        margin-top: 20px;
    }
    .burger{
        margin-left: 200px;
        margin-top: 60px;
    }

    .banner h1{
        top: 35%;
    }
    .card{
        margin-bottom: 54px;
        display: block;
        margin-left: 13%;
        width: 280px;
    }

    .message{
        display: none;
    }
    .input2{
        display: none;
    }
    .message button{
        display: none;
    }
    .right-side{
    margin-right: 0px;
}
}