@media (max-width:1200px) {
    .menu li{
        margin-left:20px ;
    }
    .message {
        margin-left: 150px;
        margin-top: 40px;
    }

    .right-side{
        margin-left: 100px;
    }

    .right-side .contact {
        margin-right: 80px;
    }
}


@media (max-width:1020px){
    nav{
        display: none;
    }

    .left-side .bottomenu{
        display: none;
    }

    .howmuch{
        height: 50px;
        padding-left: 0%;
      }

    .right-side .help{
        margin-right: 110px;
    }    
      
    .message{
    margin-left:100px;  
    }
}

@media (max-width:768px) {

    .cards1{
        display: block;
    }

    .cards2{
        display: none;
    }

    .cards3{
        display: none;
    }

    .card{
        margin-bottom: 54px;
        width: 50%;
        margin-left: 29%;
    }

    .howmuch{
        height: 50px;
        padding-left: 10%;
        padding-bottom: 15%;
      }

    .right-side .help{
        margin-right: 80px;
      }

    .message{
       margin-left:-140px;  
    }

}

@media (max-width:411px) {
    .logo{
        width: 150px;
    }
}